window {
  background-color: #1e1e2e;  
  border-radius: 2;
  opacity: 0.97;  
}

label {
  color: #cdd6f4;  
  font-family: 'UbuntuMono Nerd Font';
  font-size: 12pt;  
}

image {
  color: @image;
}

progressbar {
  border-radius: 2;
}

progress {
  background-color: #89b4fa;
}
